# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Docker files
*.log
docker-compose.override.yml

# Environment files (DO NOT PUSH SECRETS)
.env
.env.local
.env.development
.env.production

# VS Code settings
.vscode/
